<section class="shadow"></section>

<!-- 登入會員帳號 -->
<section class="login">
  <div class="topColorBox"></div>

  <div class="loginData">
    <div class="loginDataTitle">
      <h2>Come on in</h2>
      <img src="../../img/icon/login/icon_close.png" onclick="change('close')" alt="刪除登入會員帳號對話方塊">
    </div>

    <input type="email" id="loginEmail" placeholder="Enter your email address">

    <input type="password" id="loginPwd" placeholder="Enter your password">

    <button type="button" onclick="login()" class="loginBtn">Sign in</button>

    <p id="loginError">失敗訊息</p>

    <p class="registerWarning"><a onclick="change('register')">Don't have an account?&nbsp;&nbsp;<span id="subRegister">Register</span></a></p>
  </div>
</section>

<!-- 註冊會員帳號 -->
<section class="register">
  <div class="topColorBox"></div>

  <div class="registerData">
    <div class="registerDataTitle">
      <h2>Create an account</h2>
      <img src="../../img/icon/login/icon_close.png" onclick="change('close')" alt="刪除註冊會員帳號對話方塊">
    </div>
    
    <input type="text" id="registerName" placeholder="Enter your name">

    <input type="email" id="registerEmail" placeholder="Enter your email address">

    <input type="password" id="registerPwd" placeholder="Enter your password">

    <button type="button" class="registerBtn" onclick="register()">Register</button>
                
    <p id="registerError">失敗訊息</p>

    <p id="registerSuccess">Registration successful.<span id="subRegisterSuccess">Please log in to the system!</span></p>

    <p class="loginWarning"><a onclick="change('login')">Already have an account?&nbsp;&nbsp;<span id="subSignIn">Sign in</span></a></p>
  </div>
</section>

<!-- Schedule -->
<section class="schedule">
  <div class="topColorBox"></div>

  <div class="scheduleData">
    <div class="scheduleTitle">
      <h2>Let's start planning!</h2>
      <img src="../../img/icon/login/icon_close.png" onclick="change('close')" alt="delete scheduled date dialog box">
    </div>
    
    <form class="scheduleDetailData">
      <input type="date" class="schedule-date" name="date">
      <input type="time" class="schedule-time" name="time">
      <input type="text" class="schedule-todoItem" name="todoItem" placeholder="Enter a to-do item">
      <button type="button" class="scheduleBtn" onclick="schedule()">Schedule</button>
    </form>       
                
    <p id="scheduleError">Failure message</p>

    <p id="scheduleSuccess">Success message</p>
  </div>  
</section>

<!-- header -->
<header>
  <nav>
    <h2><a href="/">My Day</a></h2>

    <ul>
      <li><a onclick="change('schedule')">Schedule</a></li>  
      <li><a class="stateSwitch" onclick="change('login')">Sign In</a></li>
    </ul>
  </nav>    
</header>