<aside>
    <section class="hot-air-balloon">
        <div class="balloon">
            <section class="weather">
                <h1 class="date"><%= time %></h1>
                <h2 class="city">city</h2>
                <h3 class="description">description</h3>
                <img class="weatherIcon">               
            </section> 
        </div>
        <div class="basket"></div>  
        <div class="cloud">
            <div>
                <h3 id="temp">
                    <span class="temp">temperature</span>&nbsp;
                    <a id="celsius" class="celsius active" href="#" onclick="switchToC()">&#8451;</a>
                    <span class="divider">&#124;</span>
                    <a id="fahrenheit" class="fahrenheit" href="#" onclick="switchToF()">&#8457;</a>
                </h3>
            </div>
            <div>               
                <p class="body-temp">RealFeel&nbsp;&nbsp;
                    <span class="feels-like"></span>
                </p>
                <p>&uarr;&nbsp;
                    <span class="temp-max"></span>&nbsp;&nbsp;
                    &darr;&nbsp;
                    <span class="temp-min"></span>
                </p>
            </div>
        </div>
    </section>
</aside>