<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Shiuan-Ching Huang" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="index,follow" />
    <meta name="rating" content="General" />
    <base target="_self" />
    <meta name="description" content="" />
    <title>計畫表</title>
    <link rel="stylesheet" href="../styles/index/all.css" />
    <!-- <style>
      * {
        margin: 0;
        padding: 0;
      }

      #calendar {
        background-color: #9900ff;
        color: #fff;
        border-radius: 5px;
        margin: 100px auto;
      }

      #title {
        font-size: 1.4em;
        padding: 4px 0.55em;
      }

      #days th {
        font-weight: bold;
        text-align: center;
        padding: 4px 0.55em;
      }

      #calendar td {
        text-align: center;
        padding: 4px 20px;
      }

      #today {
        color: #f00;
        font-weight: bold;
      }

      .poin {
        cursor: pointer;
        cursor: hand;
      }
    </style> -->
  </head>
  <body>
    <!-- 登入會員帳號 -->
    <section class="shadow"></section>

    <section class="login">
        <div class="topColorBox"></div>

        <div class="loginData">
            <div class="loginDataTitle">
                <h2>登入會員帳號</h2>
                <img src="../img/icon/login/icon_close.png" onclick="change('close')" alt="刪除登入會員帳號對話方塊">
            </div>

            <input type="email" id="loginEmail" placeholder="輸入電子信箱">

            <input type="password" id="loginPwd" placeholder="輸入密碼">

            <button type="button" onclick="login()" class="loginBtn">登入帳戶</button>

            <p id="loginError">失敗訊息</p>

            <p class="registerWarning"><a onclick="change('register')">還沒有帳戶？點此註冊</a></p>
        </div>
    </section>

    <!-- 註冊會員帳號 -->
    <section class="register">
        <div class="topColorBox"></div>

        <div class="registerData">
            <div class="registerDataTitle">
                <h2>註冊會員帳號</h2>
                <img src="../img/icon/login/icon_close.png" onclick="change('close')" alt="刪除註冊會員帳號對話方塊">
            </div>
            
            <input type="text" id="registerName" placeholder="輸入姓名">

            <input type="email" id="registerEmail" placeholder="輸入電子信箱">

            <input type="password" id="registerPwd" placeholder="輸入密碼">

            <button type="button" class="registerBtn" onclick="register()">註冊新帳戶</button>
                        
            <p id="registerError">失敗訊息</p>

            <p id="registerSuccess">註冊成功，請登入系統</p>

            <p class="loginWarning"><a onclick="change('login')">已經有帳戶了？點此登入</a></p>
        </div>
    </section>

    <!-- header -->
    <header>
      <nav>
        <h2><a href="/">計畫表</a></h2>

        <ul>
            <li><a onclick="booking()">預定行程</a></li>  
            <li><a class="stateSwitch" onclick="change('login')">登入/註冊</a></li>
        </ul>
      </nav>    
    </header>

    <main>
      <section class="calendar">
        <table id="calendar">
          <thead>
            <tr>
              <!-- 向左箭頭 -->
              <th class="arrow left">&lt;&lt;</th>  
              <!-- 年月 -->
              <th id="title" colspan="5"></th>
              <!-- 向右箭頭 -->
              <th class="arrow right">&gt;&gt;</th>
            </tr>
            <tr id="days">
              <th>Sun</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Sat</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr class="day" data-week="week-1"> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
            <!-- </tr> -->
            <!-- <tr class="day" data-week="week-2"> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
            <!-- </tr> -->
            <!-- <tr class="day" data-week="week-3"> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
            <!-- </tr> -->
            <!-- <tr class="day" data-week="week-4"> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
            <!-- </tr> -->
            <!-- <tr class="day" data-week="week-5"> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
            <!-- </tr> -->
            <!-- <tr class="day" data-week="week-6"> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
            <!-- </tr> -->
          </tbody>
        </table>
      </section>
    </main>

    <!-- <table id="calendar">
      <tr>
        <th class="poin">&lt;&lt;</th>
        <th id="title" colspan="5"></th>
        <th class="poin">&gt;&gt;</th>
      </tr>
      <tr id="days">
        <th>日</th>
        <th>一</th>
        <th>二</th>
        <th>三</th>
        <th>四</th>
        <th>五</th>
        <th>六</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table> -->

    <script src="../js/calendar.js"></script>   
    <script src="../js/member.js"></script>   
  </body>
</html>
