<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Shiuan-Ching Huang" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="index,follow" />
    <meta name="rating" content="General" />
    <base target="_self" />
    <meta name="description" content="" />
    <title>計畫表</title>
    <link rel="stylesheet" href="../styles/index/all.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <style>
      * {
        margin: 0;
        padding: 0;
      }

      #calendar {
        background-color: #9900ff;
        color: #fff;
        border-radius: 5px;
        margin: 100px auto;
      }

      #title {
        font-size: 1.4em;
        padding: 4px 0.55em;
      }

      #days th {
        font-weight: bold;
        text-align: center;
        padding: 4px 0.55em;
      }

      #calendar td {
        text-align: center;
        padding: 4px 20px;
      }

      #today {
        color: #f00;
        font-weight: bold;
      }

      .poin {
        cursor: pointer;
        cursor: hand;
      }
    </style> -->
  </head>
  <body>

    <!-- 登入會員帳號 -->
    <section class="shadow"></section>

    <section class="login">
        <div class="topColorBox"></div>

        <div class="loginData">
            <div class="loginDataTitle">
                <h2>登入會員帳號</h2>
                <img src="../img/icon/login/icon_close.png" onclick="change('close')" alt="刪除登入會員帳號對話方塊">
            </div>

            <input type="email" id="loginEmail" placeholder="輸入電子信箱">

            <input type="password" id="loginPwd" placeholder="輸入密碼">

            <button type="button" onclick="login()" class="loginBtn">登入帳戶</button>

            <p id="loginError">失敗訊息</p>

            <p class="registerWarning"><a onclick="change('register')">還沒有帳戶？點此註冊</a></p>
        </div>
    </section>

    <!-- 註冊會員帳號 -->
    <section class="register">
        <div class="topColorBox"></div>

        <div class="registerData">
            <div class="registerDataTitle">
                <h2>註冊會員帳號</h2>
                <img src="../img/icon/login/icon_close.png" onclick="change('close')" alt="刪除註冊會員帳號對話方塊">
            </div>
            
            <input type="text" id="registerName" placeholder="輸入姓名">

            <input type="email" id="registerEmail" placeholder="輸入電子信箱">

            <input type="password" id="registerPwd" placeholder="輸入密碼">

            <button type="button" class="registerBtn" onclick="register()">註冊新帳戶</button>
                        
            <p id="registerError">失敗訊息</p>

            <p id="registerSuccess">註冊成功，請登入系統</p>

            <p class="loginWarning"><a onclick="change('login')">已經有帳戶了？點此登入</a></p>
        </div>
    </section>

    <!-- header -->
    <header>
      <nav>
        <h2><a href="/">My Day</a></h2>

        <ul>
            <li><a onclick="booking()">預定行程</a></li>  
            <li><a class="stateSwitch" onclick="change('login')">登入/註冊</a></li>
        </ul>
      </nav>    
    </header>

    <main>
      <!-- 黑夜背景 -->
      <section class="nightBackground">
        <div class="moon"></div>

        <div class="star">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>

        <div class="forest">
          <div class="spruce spruce--1">
            <div class="spruce__mid"></div>
            <div class="spruce__top"></div>
          </div>
          <div class="spruce spruce--2">
            <div class="spruce__mid"></div>
            <div class="spruce__top"></div>
          </div>
          <div class="spruce spruce--3">
            <div class="spruce__mid"></div>
            <div class="spruce__top"></div>
          </div>
          <div class="spruce spruce--4">
            <div class="spruce__mid"></div>
            <div class="spruce__top"></div>
          </div>
          <div class="spruce spruce--5">
            <div class="spruce__mid"></div>
            <div class="spruce__top"></div>
          </div>
          <div class="spruce spruce--6">
            <div class="spruce__mid"></div>
            <div class="spruce__top"></div>
          </div>
          <div class="spruce spruce--7">
            <div class="spruce__mid"></div>
            <div class="spruce__top"></div>
          </div>
        </div>

        <div class="tent">
          <!-- <div class="tent__color"></div> -->
          <div class="tent__back"></div>
          <div class="tent__front"></div>
          <div class="tent__details"></div>
          <div class="tent__prop"></div>
          <div class="tent__pole"></div>
        </div> 

        <!-- cat -->
        <svg id="catBox" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.5">
        
          <!-- 數值越靠近 0，喵的位置會越往下移動 -->
          <g id="cat">
            <svg class="cat" x="-250" y="84">
              <path id="right-hand" d="M399.588 305.324s-27.311-.341-25.911 8.246c1.027 6.301 8.592 7.007 14.778 7.167 6.187.16 36.063-.563 11.133-15.413z" fill="#98aebe"/>
              
              <path id="body" d="M411.422 284.308s81.404-40.992 98.905-.679c11.659 26.856-7.93 42.028-43.527 42.028-23.361 0-43.863-1.588-52.67-5.836-8.807-4.248-2.708-35.513-2.708-35.513z" fill="#98aebe"/>
            
              <clipPath id="_clip1">
                <path d="M411.422 284.308s81.404-40.992 98.905-.679c11.659 26.856-7.93 42.028-43.527 42.028-23.361 0-43.863-1.588-52.67-5.836-8.807-4.248-2.708-35.513-2.708-35.513z"/>
              </clipPath>

              <g clip-path="url(#_clip1)" fill="#556f80">
                <ellipse cx="446.33" cy="267.129" rx="6.745" ry="21.523"/>
                <ellipse cx="464.042" cy="264.673" rx="6.745" ry="21.523"/>
                <ellipse cx="480.341" cy="261.42" rx="6.745" ry="21.523"/>
              </g>
            
              <g id="face">
                <path d="M423.348 319.48s11.227-4.283 15.648-9.691c6.563-8.027 3.892-15.747 3.892-15.747l-11.031.387-8.509 25.051z" fill="#303853" fill-opacity=".2"/>

                <path d="M410.032 266.05c18.134 0 32.856 12.256 32.856 27.352s-5.682 27.351-32.856 27.351c-27.175 0-32.857-12.255-32.857-27.351 0-15.096 14.723-27.352 32.857-27.352z" fill="#98aebe"/>

                <clipPath id="_clip2">
                  <path d="M410.032 266.05c18.134 0 32.856 12.256 32.856 27.352s-5.682 27.351-32.856 27.351c-27.175 0-32.857-12.255-32.857-27.351 0-15.096 14.723-27.352 32.857-27.352z"/>
                </clipPath>

                <g clip-path="url(#_clip2)">
                  <ellipse cx="411.177" cy="260.615" rx="6.738" ry="21.523" fill="#556f80"/>
                </g>

                <path d="M388.329 263.888a3.454 3.454 0 014.853-.414c5.05 4.184 8.244 8.982 9.656 14.353a3.478 3.478 0 01-1.848 4.001c-5.62 2.725-11.188 3.166-16.712 1.656a3.48 3.48 0 01-2.544-3.674c.628-6.08 2.838-11.38 6.595-15.922z" fill="#98aebe"/>

                <path d="M388.614 270.307a3.396 3.396 0 015.416-.539 11.542 11.542 0 012.509 3.539 3.49 3.49 0 01-2.203 4.826c-1.44.422-2.872.558-4.298.425a3.496 3.496 0 01-2.509-1.415 3.493 3.493 0 01-.59-2.819c.41-1.425.944-2.77 1.675-4.017z" fill="#d7edee"/>

                <path d="M430.959 263.851a3.455 3.455 0 014.693 1.304c3.274 5.682 4.594 11.293 4.045 16.82a3.478 3.478 0 01-3.127 3.105c-6.217.594-11.59-.934-16.24-4.275a3.479 3.479 0 01-1.103-4.331c2.708-5.479 6.627-9.676 11.732-12.623z" fill="#98aebe"/>

                <path d="M429.05 269.802a3.399 3.399 0 015.234 1.386 12.117 12.117 0 011.194 4.522 3.49 3.49 0 01-3.718 3.728 11.665 11.665 0 01-4.497-1.183 3.49 3.49 0 01-1.418-5.013c.937-1.303 1.985-2.462 3.205-3.44z" fill="#d7edee"/>

                <path d="M395.324 306.77s-4.319-1.774-9.465-.34M421.684 306.77s4.319-1.774 9.465-.34M395.607 309.089s-3.765-.486-8.735 2.943M421.401 309.089s3.765-.486 8.734 2.943" fill="none" stroke="#556f80" stroke-width="2" stroke-linecap="round"/>
              

                <path d="M408.904 305.48a1.174 1.174 0 011.273.026c.166.106.317.226.458.355a1.456 1.456 0 01-.935 2.539c-.144 0-.289-.002-.434-.01a1.468 1.468 0 01-.871-2.577c.164-.107.329-.224.509-.333z" fill="#556f80"/>

                <path d="M391.495 296.712c.993 1.432 3.476 2.14 5.121 2.13 1.987-.011 4.015-.608 5.028-2.13M416.205 296.712c.993 1.432 3.476 2.14 5.122 2.13 1.986-.011 4.014-.608 5.028-2.13" fill="none" stroke="#556f80" stroke-width="2" stroke-linecap="round"/>
              </g>

              <path id="leg" d="M493.619 305.325s41.571-.432 39.44 10.42c-1.564 7.964-13.079 8.857-22.495 9.059-9.417.201-54.893-.712-16.945-19.479z" fill="#98aebe"/>

              <path d="M506.637 298.528v24.771s-.061 26.915-28.211 26.915" fill="none" stroke="#98aebe" stroke-width="14" stroke-linecap="round" id="tail"/>     
                  
              <path id="left-hand" d="M426.186 311.409s-15.939 22.179-8.101 25.956c5.751 2.771 10.668-3.022 14.345-7.998 3.678-4.977 20.216-29.869-6.244-17.958z" fill="#98aebe"/>   
            </svg>               
          </g>  
        </svg> 
      </section> 

      <section class="calendar">
        <table id="calendar">
          <thead>
            <tr>
              <!-- 向左箭頭 -->
              <th class="arrow left">&lt;&lt;</th>  
              <!-- 年月 -->
              <th id="title" colspan="5"></th>
              <!-- 向右箭頭 -->
              <th class="arrow right">&gt;&gt;</th>
            </tr>
            <tr id="days">
              <th>Sun</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Sat</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr class="day" data-week="week-1"> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
            <!-- </tr> -->
            <!-- <tr class="day" data-week="week-2"> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
            <!-- </tr> -->
            <!-- <tr class="day" data-week="week-3"> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
            <!-- </tr> -->
            <!-- <tr class="day" data-week="week-4"> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
            <!-- </tr> -->
            <!-- <tr class="day" data-week="week-5"> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
            <!-- </tr> -->
            <!-- <tr class="day" data-week="week-6"> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
              <!-- <td><a href="todolist.html">&nbsp;</a></td> -->
            <!-- </tr> -->
          </tbody>
        </table>
      </section> 
    </main>

    <!-- <table id="calendar">
      <tr>
        <th class="poin">&lt;&lt;</th>
        <th id="title" colspan="5"></th>
        <th class="poin">&gt;&gt;</th>
      </tr>
      <tr id="days">
        <th>日</th>
        <th>一</th>
        <th>二</th>
        <th>三</th>
        <th>四</th>
        <th>五</th>
        <th>六</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table> -->

    <script src="../js/calendar.js"></script>   
    <script src="../js/member.js"></script>   
  </body>
</html>
