<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="ShiuanChing(Eileen) Huang"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow"> 
    <meta name="rating" content="General">
    <base target="_self">
    <meta name="description" content=""> 
    <title>代辦事項</title>
    <link rel="stylesheet" href="../styles/todolist/all.css">
</head>
<body>
    <header>
        <section class="weather">
            <h2 class="city">city</h2>
            <h3 class="description">description</h3>
            <img>
            <h1>
                <span class="temp">temperature</span>&nbsp;
                <a id="celsius" class="celsius active" href="#" onclick="switchToC()">&#8451;</a>
                <span class="divider">&#124;</span>
                <a id="fahrenheit" class="fahrenheit" href="#" onclick="switchToF()">&#8457;</a>
            </h1>
            <h3>RealFeel&nbsp;&nbsp;
                <span class="feels-like"></span>
            </h3>
            <h3>&uarr;&nbsp;
                <span class="temp-max"></span>&nbsp;&nbsp;
                &darr;&nbsp;
                <span class="temp-min"></span>
            </h3>
        </section> 
    </header>

    <main class="todayPlan">
        <h1 class="title">Today Plan</h1>

        <form action="">
            <input type="time">
            <input type="text">
            <button type="button">Add to List</button>
        </form>

        <br/>
        <br/>

        <div class="sort">
            <button>Sort By Time</button>
        </div>

        <section class="todoBox"></section>
    </main>
    

</body>
    <script src="../js/todolist.js"></script>
</html>
