body{
    background-color: #00E3E3;
}

header{
    section.weather{
        .city{
            color: #fff;
        }
        .description{
            color: #fff;
        }
        img{
            width: 5vw;
            height: 5vw;
        }
        h1{            
            a, .divider{
                color: #fff;
                opacity: 0.6;
            }
            a:hover, .active{
                opacity: 1;
            }
        } 
    }
}

main{
    .date, .title, .warning{
        text-align: center;
    }
    .date{
        color: #FFFFFF;
    }
    .title{
        color: #004B97;
    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        input, button{
            padding: 0.25rem 0.5rem;
            margin: 0.1rem;
            font-size: 1.75rem;
        }
        input[type="time"]{
            width:  190px;
            height: 40.19px;
            text-align: center;
        }
        button{
            background-color: rgb(1, 146, 114);
            color: #fff;
        }
    }
    .warning{
        color: #ff0000;
    }
    .sort button{
        padding: 0.25rem 0.5rem;
        margin: 0.1rem;
        font-size: 1.75rem;
        background-color: rgb(1, 146, 114);
        color: #fff;
    }
    section.todoBox{
        width: 55vw;
        margin: 0 auto;
        outline: 1px solid red;
        div.todo{
            display: flex;
            justify-content: center;
            background-color: #fff;
            margin-bottom: 1rem;
            // 建立 todoItem 出現的動態效果 
            animation: scaleUp 0.3s forwards;
            // 綠色按鈕 completeBtn 'done'模式 漸進效果
            transition: all 0.1s ease;

            outline: 1px solid green;
            .todo-time{
                width: 15%;
                outline: 1px solid red;
                color: #004B97; //Neil
            }
            .todo-text{
                width: 80%;
                outline: 1px solid blue;
                color: #004B97; //Neil
            } 
            button{
                align-self: center;
                display: block;
                width: 3vw;
                height: 3vw;
                padding: 7px;
                outline: 1px solid black;
                img{
                    display: block;
                    width: 2vw;
                    height: 2vw;
                    pointer-events: none;  // 避免 img 元素被監聽
                    outline: 1px solid orangered;
                }
            } 
            button.complete{
                background-color: rgb(50, 255, 50);
            } 
            button.remove{
                background-color: red;
            } 
        
        }
        .done{
            opacity: 0.5;
            text-decoration: line-through;
            text-decoration-thickness: 0.2rem;
        }
    }
}

@keyframes scaleUp {
    to{
        transform: scale(1);
    }
}
@keyframes scaleDown {
    to{
        transform: scale(0);
    }
}

