<%- include('../partials/sidebar') %> 

<article class="todayPlan">
    <section class="planBox">
        <h1 class="title">Today Plan</h1>
        <form>  
            <div class="inputBox">
                <input type="time" id="todoTime" name="time">
                <input type="text" id="todoItem" name="todoItem">         
                <img id="addBtn" src="../../img/icon/todoList/add.png" alt="add a to-do item"> 
            </div>
            
            <div class="todoBox"></div> 
        </form>
        <h2 class="warning"></h2>

        <!-- <br/>
        <br/> -->

        <!-- <div class="sort">
            <button>Sort By Time</button>
        </div> --> 
    </section>   
</article>  

<script src="../js/todolist.js"></script>