<h1 class="date"><%= time %></h1>
<h1 class="title">Today Plan</h1>

<form>
    <input type="time" name="time">
    <input type="text" name="todoItem">
    <button type="button">Add to List</button>
</form>

<h1 class="warning"></h1>

<br/>
<br/>

<div class="sort">
    <button>Sort By Time</button>
</div>

<section class="todoBox">
    <h1 class="warning"></h1>
</section>