<%- include('../partials/sidebar') %> 

<article class="todayPlan">
    <section class="planBox">
        <h1 class="title">Today Plan</h1>
        <form>  
            <div class="inputBox">
                <input type="time" id="todoTime" name="time">
                <input type="text" id="todoItem" name="todoItem">         
                <img id="addBtn" src="../../img/icon/todoList/add.png" alt="add a to-do item"> 
            </div>
            
            <div class="todoBox">
                <!-- <h1 class="warning"></h1> -->
            </div> 
        </form>
        <h1 class="warning"></h1>
        

        <!-- <br/>
        <br/> -->

        <!-- <div class="sort">
            <button>Sort By Time</button>
        </div> --> 
    </section>   
</article>  

<script src="../js/member.js"></script> 
<script src="../js/todolist.js"></script> 
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 