section.shadow{
    position: fixed;
    z-index: 1999;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.25;
    display: none;   
}

/* 登入會員帳號 */
section.login{
    position: fixed;
    z-index: 2000;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    display: none;
    // outline: 1px solid red;
    div.topColorBox{
        height: 10px;
        border-radius: 6px 6px 0px 0px;
        background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
        // outline: 1px solid blue;
    }
    div.loginData{
        display: flex;
        flex-direction: column;
        // outline: 1px solid green;
        div.loginDataTitle{
            display: flex;
            align-items: center;
            margin: 15px 15px 10px 15px;
            position: relative;
            // outline: 1px solid red;
            h2{
                width: 310px;
                text-align: center;
                // outline: 1px solid green;
            }
            img{
                position: absolute;
                top: 0px;
                right: 0px;
                z-index: 100;
                width: 16px;
                height: 16px;
                // outline: 1px solid blue;
            }
        }
        input{
            width: 310px;
            height: 47px;
            line-height: normal;
            font-size: 1.25rem;
            margin: 5px 15px;
            padding: 15px;
            border: 1px solid #CCCCCC;
            border-radius: 5px;
            // outline: 1px solid green; 
        }
        input::placeholder{
            font-size: 1rem;  
            font-weight: 600;           
            color: #757575;
            // outline: 1px solid red;    
        }
        input#loginPwd{
            margin-top: 5px;
        }
        .loginBtn{
            width: 310px;
            height: 47px;
            color: #FFFFFF;
            background: #448899;
            border:0;
            outline:none;
            border-radius: 5px;
            font-size: 19px;
            margin: 5px 15px;
        }
        p#loginError{
            width: 315px;
            height: 47px;
            line-height: 47px;
            margin: 0 auto;
            text-align: center;
            color: #ff0000;
            display: none;
            // outline: 1px solid blue;
        }
        p.registerWarning{
            margin: 10px 15px 15px 15px;
            text-align: center;
            // outline: 1px solid blue;
            a{
                text-decoration: none;
                cursor: pointer;
                #subRegister{
                    color: #448899;
                    border: 2px #448899 solid;
                    padding: 5px;
                    border-radius: 25px; 
                }
                #subRegister:hover{
                    display: inline-block;
                    transform: scale(1);
                    outline: gainsboro solid medium;
                }
            }
        }
    }
}

/* 註冊會員帳號 */
section.register{
    position: fixed;
    z-index: 2000;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    display: none;
    // outline: 1px solid red;
    div.topColorBox{
        height: 10px;
        border-radius: 6px 6px 0px 0px;
        background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
        // outline: 1px solid blue;
    }
    div.registerData{
        display: flex;
        flex-direction: column;
        // outline: 1px solid green;
        div.registerDataTitle{
            display: flex;
            align-items: center;
            margin: 15px 15px 10px 15px;
            position: relative;
            // outline: 1px solid red;
            h2{
                width: 310px;
                text-align: center;
                // outline: 1px solid green;
            }
            img{
                position: absolute;
                top: 0px;
                right: 0px;
                z-index: 100;
                width: 16px;
                height: 16px;
                // outline: 1px solid blue;
            }
        }
        input{
            width: 310px;
            height: 47px;
            line-height: normal;
            font-size: 1.25rem;
            margin: 5px 15px;
            padding: 15px;
            border: 1px solid #CCCCCC;
            border-radius: 5px;
            // outline: 1px solid green;    
        }
        input#registerPwd{
            margin-top: 5px;
        }
        ::placeholder{
            font-size: 1rem;
            font-weight: 600;            
            color: #757575;
            // outline: 1px solid red;     
        }
        .registerBtn{
            width: 310px;
            height: 47px;
            color: #FFFFFF;
            background: #448899;
            border:0;
            outline:none;
            border-radius: 5px;
            font-size: 19px;
            margin: 5px 15px;
        }     
        p#registerError, p#registerSuccess{
            width: 315px;
            height: 47px;
            line-height: 47px;
            margin: 0 auto;
            margin-top: -10px;
            text-align: center;
            color: #ff0000;
            display: none;
            // outline: 1px solid red;
            #subRegisterSuccess{
                display: inline-block;
                width: 315px;
                height: 47px;
                position: relative;
                top: -30px;
            }
        }
        p.loginWarning{
            margin: 10px 15px 15px 15px;
            text-align: center;
            // outline: 1px solid blue;
            a{
                text-decoration: none;
                cursor: pointer;
                #subSignIn{
                    color: #448899;
                    border: 2px #448899 solid;
                    padding: 5px;
                    border-radius: 25px; 
                }
                #subSignIn:hover{
                    display: inline-block;
                    transform: scale(1);
                    outline: gainsboro solid medium;
                }
            }
        }
    }
}

/* Schedule */
section.schedule{
    position: fixed;
    z-index: 2000;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 301px; 
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    display: none;
    // outline: 1px solid red;
    div.topColorBox{
        height: 10px;
        border-radius: 6px 6px 0px 0px;
        background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
        // outline: 1px solid blue;
    }
    div.scheduleData{
        display: flex;
        flex-direction: column;
        // outline: 1px solid green;
        div.scheduleTitle{
            display: flex;
            align-items: center;
            margin: 15px 15px 10px 15px;
            position: relative;
            // outline: 1px solid red;
            h2{
                width: 310px;
                text-align: center;
                // outline: 1px solid green;
            }
            img{
                position: absolute;
                top: 0px;
                right: 0px;
                z-index: 100;
                width: 16px;
                height: 16px;
                // outline: 1px solid blue;
            }
        }
        .scheduleDetailData{
            input{
                width: 310px;
                height: 47px;
                line-height: normal;
                font-size: 1.25rem;
                margin: 5px 15px;
                padding: 15px;
                border: 1px solid #CCCCCC;
                border-radius: 5px;
                // outline: 1px solid green;    
            }
            .schedule-todoItem::placeholder{
                font-size: 1rem;  
                font-weight: 600;           
                color: #757575;
                // outline: 1px solid red;    
            }
            .scheduleBtn{
                width: 310px;
                height: 47px;
                color: #FFFFFF;
                background: #448899;
                border:0;
                outline:none;
                border-radius: 5px;
                font-size: 19px;
                margin: 5px 15px; 
                // outline: 1px solid fuchsia;   
            } 
        }                          
        p#scheduleError, p#scheduleSuccess{
            width: 310px;
            height: 47px;
            line-height: 47px;
            margin: 0 auto;
            text-align: center;
            color: #ff0000;
            display: none;
            // outline: 1px solid blue;
        }
    }
}

/* header */
header {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px 0.5px rgb(107,107,107);

    /*step 1 整個 header 移動時固定在上方 => Sticky Header*/
    position: sticky; 
    /*step 2*/
    top: 0;
    /*step 3 設定最大數值，確保在整個網頁的最上面*/
    z-index: 1000;

    nav{
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        outline: 1px solid red;

        h2{
            flex: 1 1 100px;
            // outline: 1px solid green;
            a{
                text-decoration: none;
                color: #448899;
            }                
        }

        ul{
            display: flex;
            justify-content: flex-end;
            flex: 3 1 100px;
            list-style-type: none;
            width: 70%;
            outline: 1px solid blue;

            li{
                width: 10%;
                display: flex;
                justify-content: flex-end;
                cursor: pointer;
                // outline: 2px solid palegreen;
                a{
                    text-align: right;
                    text-decoration: none;
                    font-size: 1rem;
                    color: #666666;
                    // outline: 5px solid green;
                }
            }
        }
    } 
}

@media screen and (max-width: 1200px){
    header{
        nav{
            // width: 95%;                
        }
    }
}
@media screen and (max-width: 980px){
    header{
        nav{
            ul{
                li{
                    width: 12%;
                }
            }                          
        }
    }
}
@media screen and (max-width: 820px){
    header{
        nav{
            ul{
                li{
                    width: 14%;
                }
            }                          
        }
    }
}
@media screen and (max-width: 768px){
    header{
        nav{
            ul{
                li{
                    width: 20%; 
                }
            }                               
        }
    }
}
@media screen and (max-width: 600px){
    header{
        nav{
            width: 90%;
            ul{
                li{
                    width: 30%; 
                }
            }                          
        }
    }
}
@media screen and (max-width: 414px){
    header{
        nav{
            h2{
                width: 40%;                
            }
            ul{
                justify-content: flex-start;
                li{
                    width: 50%; 
                }                
            }
        }
    }
}
@media screen and (max-width: 360px){
    header{
        nav{
            width: 95%;
            justify-content: space-around;
            h2{
                flex: 1 1 50px;
            }
            ul{
                flex: 2 1 50px; 
            }
        }
    }
}